{:allow [;; lambda handlers
         apprentice.core/hello
         ]
 :lambdas {:hello
           {:fn apprentice.core/hello
            :integration :api-gateway/proxy
            :description "greet"}}
 :app-name "apprentice"}
