{:allow [;; lambda handlers
         apprentice.core/app
         ]
 :lambdas {:app
           {:fn apprentice.core/app
            :integration :api-gateway/proxy
            :description "apprentice app handler"}}
 :app-name "apprentice"}
