{:duct.core/project-ns applicosan
 :duct.core/environment :development

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.server.http/jetty {:port #duct/env ["PORT" Int :or 8080]}

 :applicosan/db {:uri #duct/env "MONGODB_URI"}

 :applicosan/event-cache {:ttl 90000}
 :applicosan/slack {:bot-id #duct/env "SLACK_BOT_ID"
                    :bot-name #duct/env "SLACK_BOT_NAME"
                    :bot-token #duct/env "SLACK_BOT_TOKEN"}

 :duct.module/ataraxy {[:get "/.well-known/acme-challenge/" challenge] [:acme challenge]
                       [:post "/slack"] [:slack]}

 :applicosan.handler/acme {:acme-challenge #duct/env "ACME_CHALLENGE"}
 :applicosan.handler/slack {:logger #ig/ref :duct/logger
                            :slack #ig/ref :applicosan/slack
                            :cache #ig/ref :applicosan/event-cache
                            :rules #ig/ref :applicosan/rules}

 :applicosan/rules {:logger #ig/ref :duct/logger
                    :rule-sets [#ig/ref :applicosan.rules/worktime
                                #ig/ref :applicosan.rules/ack]}
 :applicosan.rules/worktime {:logger #ig/ref :duct/logger
                             :slack #ig/ref :applicosan/slack
                             :db #ig/ref :applicosan/db}
 :applicosan.rules/ack {:logger #ig/ref :duct/logger
                        :slack #ig/ref :applicosan/slack}}
