{:duct.core/project-ns applicosan
 :duct.core/environment :development

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.server.http/jetty {:port #duct/env ["PORT" Int :or 8080]}

 :applicosan/db {:uri #duct/env "MONGODB_URI"}
 :applicosan.db/mongodb {:db #ig/ref :applicosan/db}

 :applicosan/slack {:bot-id #duct/env "SLACK_BOT_ID"
                    :bot-name #duct/env "SLACK_BOT_NAME"
                    :bot-token #duct/env "SLACK_BOT_TOKEN"}
 :applicosan.event/factory {:cache {:ttl 90000 :disabled? true}
                            :slack #ig/ref :applicosan/slack}

 :duct.module/ataraxy {[:get "/.well-known/acme-challenge/" challenge] [:acme challenge]
                       [:post "/slack"] [:slack]}

 :applicosan.handler/acme {:acme-challenge #duct/env "ACME_CHALLENGE"}
 :applicosan.handler/slack {:logger #ig/ref :duct/logger
                            :factory #ig/ref :applicosan.event/factory
                            :rules #ig/ref :applicosan/rules}

 :applicosan/rules [#ig/ref :applicosan.rules/worktime
                    #ig/ref :applicosan.rules/ack]
 :applicosan.rules/worktime {:logger #ig/ref :duct/logger
                             :slack #ig/ref :applicosan/slack
                             :db #ig/ref :applicosan.db/mongodb}
 :applicosan.rules/ack {:logger #ig/ref :duct/logger
                        :slack #ig/ref :applicosan/slack}}
